@import url('https://fonts.googleapis.com/css2?family=Poppins:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:&display=swap');
body{
    background-color: rgb(211, 211, 211);
}
.main-box{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
    width: 850px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}
.signup-left, .signup-right, .signin-left, .signin-right{
    width: 48vw;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-left, .signin-right{
    row-gap: 35px;
}
.signup-left .signup-title h2, .signin-right .signin-title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 700;
}
.inputs{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.inputs input{
    width: 300px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(28, 29, 28);
    outline: none;
    padding-left: 10px;
    color: rgb(43, 42, 42);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.bottom button{
    width: 130px;
    height: 50px;
    background-color: #1770c4;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    cursor: pointer;
}
.signup-right h2, .signin-left h2{
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
.signin{
    width: 700px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}
